<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="JFOURJEANS">
    <meta name="keywords" content="JFOURJEANS">
    <meta name="author" content="Stiward Carrillo R">
    <title>JFOURJEANS | CONTACTO</title>
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="../../../assets/css/normalize.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../../assets/css/index.css">
    <link rel="stylesheet" href="../../../assets/css/contacto.css">
    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Favicons -->
    <link rel="icon" href="../../../assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="../../../assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="icon" href="../../../assets/img/favicons/favicon.ico">
</head>

<body>
    <div class="contenedor">

        <!-- header -->
        <header class="header blog-header py-3">
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center">
                    <a class="blog-header-logo text-dark" href="../../index.html">JFOURJEANS</a>
                </div>
            </div>
        </header>
        <!-- fin header -->

        <!-- navbar -->
        <nav class="navbar">
            <div class="col-2">
                <a class="navbar-brand d-flex justify-content-center align-items-center" href="../../index.html">
                    <img src="../../../assets/img/JFOURJEANS-logo.png" class="logo" alt="">
                </a>
            </div>
            <div class="col-6 d-flex justify-content-between">
                <a class="p-2 link-secondary" href="../../index.html">INICIO</a>
                <a class="p-2 link-secondary" href="dama.html">DAMA</a>
                <a class="p-2 link-secondary" href="caballero.html">CABALLERO</a>
                <a class="p-2 link-secondary" href="promocion.html">PROMOCIÓN</a>
                <a class="p-2 link-secondary" href="blog.html">BLOG</a>
                <a class="p-2 link-secondary" href="#">CONTACTO</a>
            </div>
            <div class="col-2 d-flex justify-content-end">
                <a class="p-2 link-secondary" href="#"><i class="fas fa-search"></i></a>
                <a class="p-2 link-secondary" href="../sign-up/inicio-sesion.html"><i class="fas fa-user"></i></a>
                <a class="p-2 link-secondary" href="#"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </nav>
        <!-- fin navbar -->

        <!-- main -->
        <main class="contenido">
            <div class="container">
                <form>
                    <div class="form-group">
                        <h1>CONTACTÁNOS</h1>
                    </div>

                    <label for="fname">Nombre</label>
                    <input type="text" id="fname" name="firstname" required>

                    <label for="lemail">Correo Electronico</label>
                    <input type="text" id="lemail" name="lemail" required>

                    <label for="lnumber">Numero</label>
                    <input type="text" id="lnumber" name="lnumber" required>

                    <label for="subject">Mensaje</label>
                    <textarea id="subject" name="subject" style="height:200px" required></textarea>

                    <input type="submit" value="Enviar">
                </form>
            </div>
        </main>
        <!-- fin main -->

        <!-- footer -->
        <footer class="footer mt-4">
            <div class="row blog-header">
                <div class="col-3">
                    <h4 class="velaFooterTitle">
                        Contacto
                    </h4>
                    <a class="navbar-brand d-flex justify-content-start align-items-start" href="#">
                        <img src="../../../assets/img/JFOURJEANS-logo.png" class="logo" alt="">
                    </a>
                    <div class="velaContent">
                        <div class="footerContactInfo">
                            <div class="footerContactLine">
                                JFOURJEANS
                            </div>
                            <div class="footerContactLine">
                                +57 300 890 7890
                            </div>
                            <div class="footerContactLine">
                                <a href="mailto:jfourjeans@gmail.com">jfourjeans@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h4 class="velaFooterTitle">Soporte</h4>
                    <div class="velaContent">
                        <ul class="velaFooterLinks list-unstyled">
                            <li class="">
                                <a href="#" title="">Términos y Condiciones</a>
                            </li>

                            <li class="">
                                <a href="faqs.html" title="">F.A.Qs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <h4 class="velaFooterTitle">Nosotros</h4>
                    <div class="velaContent">
                        <ul class="velaFooterLinks list-unstyled">
                            <li class="">
                                <a href="#" title="">Sobre Nosotros</a>
                            </li>

                            <li class="">
                                <a href="contacto.html" title="">Contacto</a>
                            </li>

                            <li class="">
                                <a href="../../index.html" title="">Tienda Oficial</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <h4 class="velaFooterTitle">Cuenta</h4>
                    <div class="velaContent">
                        <ul class="velaFooterLinks list-unstyled">
                            <li class="">
                                <a href="../sign-up/inicio-sesion.html" title="">Iniciar Sesión</a>
                            </li>

                            <li class="">
                                <a href="../sign-in/registro.html" title="">Registrar</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 d-flex justify-content-between pt-4">
                    <div class="velaCopyRight">Copyright © 2021 JFOURJEANS. Reservados todos los Derechos</div>
                    <div class="velaFooterSocial">
                        <a class="link-secondary" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="link-secondary" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="link-secondary" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="link-secondary" href="#"><i class="fab fa-pinterest"></i></a>
                        <a class="link-secondary" href="#"><i class="fab fa-youtube"></i></a>
                        <a class="link-secondary" href="#"><i class="fab fa-google-plus-g"></i></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- fin footer -->
    </div>


    <!-- Custom JS for this template -->
    <script src="../../../assets/js/contacto.js"></script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
        integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous">
    </script>
</body>

</html>