body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #dee7fe;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 300px;
    height: 300px;
    padding: 40px;
    background-color: #fffbfe;
    text-align: center;
}

.form-title {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #dee7fe;
    width: 200px;
    outline: none;
    transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus {
    width: 230px;
    border: 2px solid #dee7fe;
}

.form-box button[type="submit"] {
    border: 2px solid #dee7fe;
    background: #dee7fe;
    cursor: pointer;
}

.form-box button[type="submit"]:hover {
    background: none;
}