body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #dee7fe;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 300px;
    height: 300px;
    padding: 40px;
    background-color: #fffbfe;
    text-align: center;
}

.form-title {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #dee7fe;
    width: 200px;
    outline: none;
    transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus {
    width: 230px;
    border: 2px solid #dee7fe;
}

.form-box button[type="submit"] {
    border: 2px solid #dee7fe;
    background: #dee7fe;
    cursor: pointer;
}

.form-box button[type="submit"]:hover {
    background: none;
}

.container {
    width: 85%;
    max-width: auto;
    margin: 0 auto;
}

.header {
    background: #e6edff;
    width: 100%;
    padding: 1rem 0;
}

.header a {
    color: black;
    text-decoration: none;
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    letter-spacing: 15px;
    font-size: 1.4em;
}

.navegacion ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacion ul li {
    display: inline-block;
}

.navegacion ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navegacion ul li a:hover {
    background: white;
}