body{
    margin: 0;
    padding: 0;
    background-color: #FFF;
}
aside{
    overflow-x: scroll;
    float: left;
    width: 25%;
    padding-top: 30px;
    padding-bottom: 30px; 
}
aside h{
    padding-left: 30px;
}
aside h,
.jeans h{font-size: 30px}
.jeans{
    overflow: hidden;
    width: 75%;
     padding-top: 30px;
    padding-bottom: 30px;
}
aside ul{
    list-style-type: none;
    padding-top: 60px
}
aside ul li{
    padding-top: 25px;
    color: #b3babf;
    font-weight: bold;
    font-size: 20px
}
aside ul li:hover{
    background-color: #CCCCCC;
    color: black;
    cursor: pointer
}
aside details li{
    padding-left: 30px;
}
aside details summary{
    padding-top: 15px;
    color: #b3babf;
    font-weight: bold;
    font-size:20px;
}
aside .one ul li{color: black;}


.jeans h{display: block;padding-bottom: 20px}
.jeans .slider{
    background-image: url(jeans.jpg);
    height: 600px;
    width: 90%;
}
.jeans .slider .web{
    padding-top: 30px;
    padding-left: 40px;
}
.jeans .slider .web h1,
.jeans .slider .web h2
{
    color: white;
}
.jeans .slider .web h1{
    font-size:60px;
    font-family:arial
}
.jeans .slider .web h2{
margin-top: -28px;    
}
.jeans .slider .web button{
    background-color: black;
    padding:15px 30px;
    border: 1px solid black;
    color: white;
    text-transform: uppercase;
}
.jeans .slider .web button:hover{
    color: black;
    background-color: #CCCCCC;
    cursor: pointer;
    border: 1px solid #CCCCCC;
}
.jeans article{
    overflow: hidden;
    float: left;
    width: 25%
}
.jeans article img{
    width: 214px;
    height: 251px;
}
.jeans .subscribe{
    clear: both;
    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
}
.jeans .subscribe p{
    margin-top: -18px;
}
.jeans .subscribe input{
    padding: 10px;
    width:97%
}
.jeans .subscribe button{
    margin-top: 10px;
    color: white;
    background-color: #F44336;
    padding: 10px 18px;
    border: 1px solid #F44336;
}
.jeans .subscribe button:hover{
    background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
    cursor: pointer;
}
.jeans .contact-me {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    overflow: hidden;
    background-color: #e6e6e6;
}
.jeans .contact-me .contact{
    float: left;
    width: 33.33333%;
    text-align: center;
}
.jeans .contact-me .contact input{
    margin-top: 10px;
    padding: 8px;
    width: 297px
}
.jeans .contact-me .contact button{
    margin-top: 10px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 1px solid black;
    width: 297px;
}
.jeans .contact-me .contact button:hover{
    background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    color: black;
}
.jeans .contact-me .contact ul{
    list-style-type: none;
    
}
.jeans .contact-me .contact ul li{
    margin-top: 15px; 
}
footer{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    background-color: black;
    text-align: center;
    color: white;
    
}
footer ul{
    overflow: hidden;
    list-style-type: none;
    padding-left: 0;
}
footer ul li{ display: inline-block;}