body {
  background: #e9ecf4;
  color: #000;
  font-family: "Poppins", sans-serif;
}

.contenedor {
  margin: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(4, minmax(50px, auto));
  grid-template-areas:
    "header header header header"
    "navbar navbar navbar navbar"
    "contenido contenido contenido contenido"
    "footer footer footer footer";
}

.contenedor .header {
  width: 100%;
  align-self: center;
  justify-self: center;
  grid-area: header;
}

.contenedor .navbar {
  grid-area: navbar;
}

.contenedor .contenido {
  grid-area: contenido;
}

.contenedor .footer {
  grid-area: footer;
  background: #196b9c;
  color: #fff;
  padding: 40px;
}

.logo {
  height: 70px;
  width: 150px;
}

.img-carousel {
  width: 1438px;
  height: 590px;
  object-fit: cover;
}

.img-foto {
  width: 450px;
  height: 280px;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.fas,
.fab {
  margin: 0 20px 0;
}

.link-secondary {
  text-decoration: none;
}

.link-secondary:hover {
  font-weight: bold;
  transition: width 2s, height 4s;
}

.contenedor .footer a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}

.contenedor .footer a:hover {
  color: #fff;
}

h4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footerContactLine {
 padding-bottom: 20px;
}