body {
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
}

header {
  display: fixed;
  width: 100%;
  margin: 20px 0px;
}

header nav {
  width: 90%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #234351;
  text-decoration: none;
}

.log {
  letter-spacing: 14px;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin-right: 10px;
}

header nav ul li a {
  padding: 5px;
  transition: all 0.4s linear;
  border-radius: 5px;
}

header nav ul li a:hover {
  background-color: #ffffff;
}

.section-wrap {
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
  padding: 10px;
  border-color: #000;
  border-radius: 5px;
}

.section-wrap .form-box {
  background-color: #f0ecff;
  border-radius: 10px;
  padding: 0 20px 0 20px;
}

.section-wrap .form-box h1 {
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
}

.input-group,
.input-group-radio,
.input-checkbox {
  margin-bottom: 20px;
  padding: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  outline: none;
  background: none;
}

.input-group-radio {
  display: flex;
  justify-content: space-between;
}

.input-checkbox input[type="checkbox"] {
  margin-right: 5px;
}

.button {
  width: 100%;
  max-width: 300px;
  margin: auto;
  padding-bottom: 20px;
}

button[type="submit"] {
  background: rgba(194, 178, 255, 0.7);
  display: inline-block;
  position: relative;
  left: 100px;
  color: #fff;
  padding: 8px 22px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}

button[type="submit"]:hover {
  background: rgb(194, 178, 255);
  transition: all 0.3s linear;
}
